*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #000;
}   

/*
    #cursor: Visual element used as a custom cursor.
    Key properties:
    - position: fixed => relative to the viewport, unaffected by scroll.
    - pointer-events: none => does not block interactions with elements underneath.
*/
#cursor{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed; /* fixed on the screen */
    pointer-events: none; /* ignore mouse events */
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
    #image: Centered hero element.
    We scale the cursor on hover via JS/GSAP.
*/
#image{
    width: 40vw;
    height: 60vh;
    background-color: red;
    background-size: cover;
    background-image:url( https://images.unsplash.com/photo-1764377725021-33bba9d00944?q=80&w=1080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
}