*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #000;
}   

#cursor{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed; /* it will be fixed on the screen */
    pointer-events: none; /* it will not be affected by any mouse events */
}

#main {
    height: 100%;
    width: 100%;
}
