*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 208, 255);
    background-image: url("image1.jpg");
    background-size: cover;
    background-position: center;
}
