* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    width: 100%;
    height: 100%;
}


body{
    background-color: black;
    
    color: aliceblue;
}

.box{
    height: 300px;
    width: 300px;
    color: antiquewhite;
    position: absolute;
    
}

#box1{
    background-color: crimson;
    top: 0;
    left: 0;
}
#box2{
    background-color: cyan;
    top: 320px;
    left: 0;
}

#box3{
    background-color: darkblue;
    top: 640px;
    left: 0;
}

h1{
    color: aliceblue;
    position: relative;
    z-index: 10;
    margin: 20px;
}

#box4{
    background-color: darkgreen;
    top: 960px;
    left: 0;
}
#box5{
    background-color: darkorange;
    top: 1280px;
    left: 0;
}