* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    width: 100%;
    height: 100%;
}


body{
    background-color: black;
    
    color: aliceblue;
}

.box{
    height: 300px;
    width: 300px;
    color: antiquewhite;
    position: absolute;
    
}

#box1{
    background-color: crimson;
    top: 0;
    left: 0;
}
#box2{
    background-color: cyan;
    top: 320px;
    left: 0;
}

#box3{
    background-color: darkblue;
    top: 640px;
    left: 0;
}

h1{
    color: aliceblue;
    position: relative;
    z-index: 10;
    margin: 20px;
    font-size: 50px;
    font-weight: 600;
}

#box4{
    background-color: darkgreen;
    top: 960px;
    left: 0;
}
#box5{
    background-color: darkorange;
    top: 1280px;
    left: 0;
}

#container{
    position: relative;
    margin-top: 70px; /* Adjust based on #nav's height and margin */
    
}

#logo{
    display: flex;
    align-items: center;
}
#logo p{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
#logo img{
    width: 70px;
    

}

#nav {
    height: 70px; /* Matches the assumed height of the logo image */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically centers content within the nav */
    margin: 10px;
    padding: 0 10px; /* Added padding to ensure content is not flush with edges */
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0; /* Reset margin to prevent it from affecting nav height */
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}