* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    width: 100%;
    height: 100%;
}


body{
    background-color: black;
    overflow: hidden;
}

.box{
    height: 300px;
    width: 300px;
    color: antiquewhite;
    
}

#box1{
    background-color: crimson;
}
#box2{
    background-color: cyan;
}