*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
}

body{
    background: #000;
    overflow-x: hidden;
}


#page1{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page3{
    width: 100vw;
    height: 100vh;
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#box{
    width: 100px;
    height: 100px;
    background-color: #eaff00;
}

#page4{
    width: 100vw;
    height: 100vh;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page5{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

#page5 h1{
    font-size: 30vw;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    white-space: nowrap;
    transform: translateX(10%);
}