*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
}

body{
    background: #000;
}


#page1{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page3{
    width: 100vw;
    height: 100vh;
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#box{
    width: 100px;
    height: 100px;
    background-color: #eaff00;
}