* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#string{
    height: 200px;
    width: 100%;
    /* background-color: red; */
}